In [41]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')
import os

In [42]:
teams=pd.read_csv('data/Player_matches.csv')

In [43]:
teams['pscore'] = 0

In [49]:
teams.drop(['Player_keeper','Opposit_captain','Player_Captain','Bowling_Status','Batting_Status'
            ,'Age_As_on_match','Season_year','Country_Name','Bowling_skill','Batting_hand','DOB','Player_Id','PlayerMatch_key','Player_match_SK',""],axis=1,inplace=True)

In [61]:
teams.loc[teams['is_manofThematch'] == 'TRUE', 'pscore'] += 2
teams.loc[teams['Role_Desc'] == 'Captain','pscore'] += 2

In [51]:
match=pd.read_csv('data/Match.csv')
teams.rename(columns = {'Match_Id':'match_id'}, inplace = True)

In [52]:
teams = pd.merge(teams, match[['match_id', 'City_Name']], on='match_id', how='left')

In [53]:
teams=teams.replace({'City_Name' : { 'Chennai' : 'Chennai Super Kings', 'Bangalore' : 'Royal Challengers Bangalore', 'Hyderabad' : 'Deccan Chargers' ,
                             'Jaipur' : 'Rajasthan Royals' , 'Kolkata' : 'Kolkata Knight Riders' , 'Mumbai' : 'Mumbai Indians',
                             'Delhi' : 'Delhi Daredevils' , 'Chandigarh' : 'Kings XI Punjab' ,'Ahmedabad':'Rajasthan Royals',
                             'Bengaluru' : 'Royal Challengers Bangalore','Bloemfontein' : 'Delhi Daredevils',}})

In [60]:
teams.loc[teams['Player_team'] == teams['City_Name'],'pscore'] += 1

In [64]:
teams['pscore'] = teams['pscore'].astype(int)

In [77]:
modify_data_path: str=os.path.join('mdfn',"modified.csv")

In [78]:
teams.to_csv(modify_data_path,index=False,header=True)

In [67]:
teams['pscore']

0        4
1        1
2        1
3        1
4        1
        ..
13987    0
13988    0
13989    0
13990    0
13991    0
Name: pscore, Length: 13992, dtype: int32

In [68]:
teams = pd.merge(teams, match[['match_id', 'Team1']], on='match_id', how='left')

In [70]:
del teams['City_Name']

In [71]:
teams.rename(columns={'Team1': 'City_Name'}, inplace=True)

In [74]:
teams.shape

(13992, 8)

In [75]:
teams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13992 entries, 0 to 13991
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   match_id          13992 non-null  int64
 1   Player_Name       13992 non-null  object
 2   Role_Desc         13992 non-null  object
 3   Player_team       13992 non-null  object
 4   Opposit_Team      13992 non-null  object
 5   is_manofThematch  13992 non-null  bool
 6   pscore            13992 non-null  int32
 7   City_Name         13992 non-null  object
dtypes: bool(1), int32(1), int64(1), object(5)
memory usage: 724.3+ KB

In [76]:
del teams['match_id']

In [84]:
teams.iloc[:,[0,1,2,3,4,6,5]]

,Player_Name,Role_Desc,Player_team,Opposit_Team,is_manofThematch,City_Name,pscore
0,R Dravid,Captain,Royal Challengers Bangalore,Kolkata Knight Riders,False,Royal Challengers Bangalore,4
1,W Jaffer,Player,Royal Challengers Bangalore,Kolkata Knight Riders,False,Royal Challengers Bangalore,1
2,V Kohli,Player,Royal Challengers Bangalore,Kolkata Knight Riders,False,Royal Challengers Bangalore,1
3,JH Kallis,Player,Royal Challengers Bangalore,Kolkata Knight Riders,False,Royal Challengers Bangalore,1
4,CL White,Player,Royal Challengers Bangalore,Kolkata Knight Riders,False,Royal Challengers Bangalore,1
...,...,...,...,...,...,...,...
13987,KH Pandya,Player,Mumbai Indians,Rising Pune Supergiants,True,Mumbai Indians,0
13988,A Zampa,Player,Rising Pune Supergiants,Mumbai Indians,False,Mumbai Indians,0
13989,LH Ferguson,Player,Rising Pune Supergiants,Mumbai Indians,False,Mumbai Indians,0
13990,RA Tripathi,Player,Rising Pune Supergiants,Mumbai Indians,False,Mumbai Indians,0
13991,Washington Sundar,Player,Rising Pune Supergiants,Mumbai Indians,False,Mumbai Indians,0

In [81]:
teams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13992 entries, 0 to 13991
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Player_Name       13992 non-null  object
 1   Role_Desc         13992 non-null  object
 2   Player_team       13992 non-null  object
 3   Opposit_Team      13992 non-null  object
 4   is_manofThematch  13992 non-null  bool
 5   pscore            13992 non-null  int32
 6   City_Name         13992 non-null  object
dtypes: bool(1), int32(1), object(5)
memory usage: 615.0+ KB

In [87]:
# Count the number of occurrences of each player name in the 'player_name' column
player_counts = teams['Player_Name'].value_counts()

# Identify the player names that appear less than 20 times
names_to_delete = player_counts[player_counts < 20].index.tolist()

# Delete the rows corresponding to the identified player names
teams = teams[~teams['Player_Name'].isin(names_to_delete)]

In [89]:
teams.to_csv(modify_data_path,index=False,header=True)

In [88]:
modify_data_path: str=os.path.join('mdfn',"modified.csv")